	<h3 class="center">{{Historico.title.home}}</h3>
	<div class="container">
		<div class="row">
			<div class="col-xs-12" data-ng-show="Historico.showHistorico">
				<div class="list-border col-xs-12" dir-paginate="historico in Historico.historicos|itemsPerPage:5" pagination-id="historico">
					<p>
						<strong>Data: </strong>
						{{ historico.dataRecordatorioAlimentar | date:'dd/MM/yyyy' }} -  {{ historico.dataRecordatorioAlimentar | dayOfWeek }}
					</p>
					<p>
						<strong>Alimento: </strong>
						{{ historico.nomeAlimento }}
					</p>
					<p>
						<strong>Quantidade: </strong>
						{{ historico.quantidadeRecordatorioALimentar }}
					</p>
					<p>
						<button class="btn btn-warning col-xs-4 col-xs-offset-1" data-ng-click="Historico.changeVisibilityEdit(historico)">Editar</button>
						<button class="btn btn-danger col-xs-4 col-xs-offset-2" data-ng-click="Historico.changeVisibilityDelete(historico)">Deletar</button>
					</p>
					<br><br>
				</div>
				<dir-pagination-controls pagination-id="historico" max-size="2" boundary-links="true"></dir-pagination-controls>
				<!--<ul uib-pagination max-size="2" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>-->
			</div>
		</div>
		<div class="col-xs-12" data-ng-show="!Historico.showHistorico">
			<br>
			Você ainda não possui nenhum histórico cadastrado.
			<br><br>
		</div>		
		<button class="btn btn-primary col-xs-12" data-ng-click="Historico.changeVisibilityNew()">
			Novo
		</button>
		<br><br>
	</div>
