<!-- LISTAGEM DOS RECORDATÓRIOS -->
<section data-ng-show="$root.show.home">
	<historico-alimentar-get></historico-alimentar-get>
</section>

<!-- CADASTRO DE UM NOVO RECORDATÓRIO -->
<section data-ng-show="$root.show.new">
	<historico-alimentar-new></historico-alimentar-new>
</section>

<!-- ALTERAÇÃO DE UM RECORDATÓRIO -->
<section data-ng-show="$root.show.edit">
	<historico-alimentar-edit></historico-alimentar-edit>
</section>

<!-- CONFIRMAÇÃO PARA A DELEÇÃO DE UM RECORDATÓRIO -->
<section data-ng-show="$root.show.delete">
	<historico-alimentar-delete></historico-alimentar-delete>
</section>

<!-- CONFIRMAÇÃO PARA A DELEÇÃO DE UM RECORDATÓRIO -->
<section data-ng-show="$root.show.alimento">
	<historico-alimentar-get-alimento></historico-alimentar-get-alimento>
</section>