<!-- LISTAGEM DOS RECORDATÓRIOS -->
<section data-ng-show="$root.show.home">
	<h3 class="center">{{Historico.title.home}}</h3>
	<div class="container">
		<div class="row">
			<div class="col-xs-12" data-ng-show="Historico.showHistorico">
				<div class="list-border col-xs-12" dir-paginate="historico in Historico.historicos|itemsPerPage:5" pagination-id="historico">
					<p>
						<strong>Data: </strong>
						{{ historico.dataRecordatorioAlimentar | date:'dd/MM/yyyy' }} -  {{ historico.dataRecordatorioAlimentar | dayOfWeek }}
					</p>
					<p>
						<strong>AlimentoList: </strong>
						{{ historico.nomeAlimento }}
					</p>
					<p>
						<strong>Quantidade: </strong>
						{{ historico.quantidadeRecordatorioALimentar }}
					</p>
					<p>
						<button class="btn btn-warning col-xs-4 col-xs-offset-1" data-ng-click="Historico.changeVisibilityEdit(historico)">Editar</button>
						<button class="btn btn-danger col-xs-4 col-xs-offset-2" data-ng-click="Historico.changeVisibilityDelete(historico)">Deletar</button>
					</p>
					<br><br>
				</div>
				<dir-pagination-controls pagination-id="historico" max-size="50" boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
		<div class="col-xs-12" data-ng-show="!Historico.showHistorico">
			<br>
			Você ainda não possui nenhum histórico cadastrado.
			<br><br>
		</div>		
		<button class="btn btn-primary col-xs-12" data-ng-click="Historico.changeVisibilityNew()">
			Novo
		</button>
		<br><br>
	</div>
</section>

<!-- CADASTRO DE UM NOVO RECORDATÓRIO -->
<section data-ng-show="$root.show.new">
	<h3 class="center">{{Historico.title.new}}</h3>
	
	<form name="Historico.newForm" action="">
		<div class="form-group" data-ng-class="{ 'has-error' : Historico.newForm.alimento.$invalid && !Historico.newForm.alimento.$pristine }">
			<label for="Alimento">Alimento</label>
			<input type="button" class="btn btn-default col-xs-12 text-left" data-ng-click="Historico.changeVisibilityAlimento('new')" data-ng-model="Historico.alimento" value="{{ Historico.alimento.nome || 'Selecione um alimento' }}">
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : Historico.newForm.quantidade.$invalid && !Historico.newForm.quantidade.$pristine }">
			<label for="Quantidade">Quantidade</label>
			<input type="number" class="form-control" placeholder="Quantidade" data-ng-model="Historico.formNew.quantidade" name="quantidade" min="1" required>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : Historico.newForm.data.$invalid && !Historico.newForm.data.$pristine }">
			<label for="Data">Data</label>
			<input type="date" class="form-control" data-ng-model="Historico.formNew.data" name="data" required>
		</div>
	</form>
	<button class="btn btn-primary col-xs-4 col-xs-offset-1" data-ng-click="Historico.changeVisibilityNew()">
		Voltar
	</button>
	<button data-ng-disabled="Historico.newForm.$invalid" class="btn btn-success col-xs-4 col-xs-offset-2" data-ng-click="Historico.newHistorico(Historico.formNew)">
		Enviar
	</button>
</section>

<!-- ALTERAÇÃO DE UM RECORDATÓRIO -->
<section data-ng-show="$root.show.edit">
	<h3 class="center">{{Historico.title.edit}}</h3>	
	<form name="editForm" action="">
		<div class="form-group" data-ng-class="{ 'has-error' : Historico.newForm.alimento.$invalid && !Historico.newForm.alimento.$pristine }">
			<label for="Alimento">Alimento</label>
			<input type="button" class="btn btn-default col-xs-12 text-left" data-ng-click="Historico.changeVisibilityAlimento('edit')" data-ng-model="Historico.alimento" value="{{ Historico.formEdit.alimento || 'Selecione um alimento' }}">
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : editForm.quantidade.$invalid && !editForm.quantidade.$pristine }">
			<label for="Quantidade">Quantidade</label>
			<input type="text" class="form-control" placeholder="quantidade" data-ng-model="Historico.formEdit.quantidade" name="quantidade" required>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : editForm.data.$invalid && !editForm.data.$pristine }">
			<label for="Data">Data</label>
			<input type="date" class="form-control" data-ng-model="Historico.formEdit.data" name="data" required>
		</div>
		<input type="hidden" data-ng-model="Historico.formNew.id">
	</form>
	<button class="btn btn-primary col-xs-4 col-xs-offset-1" data-ng-click="Historico.changeVisibilityEdit()">
		Voltar
	</button>
	<button data-ng-disabled="editForm.$invalid" class="btn btn-success col-xs-4 col-xs-offset-2" data-ng-click="Historico.editHistorico(Historico.formEdit)">
		Enviar
	</button>
</section>

<!-- CONFIRMAÇÃO PARA A DELEÇÃO DE UM RECORDATÓRIO -->
<section data-ng-show="$root.show.delete">
	<h3 class="center">{{Historico.title.delete}}</h3>	
	<br>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="list-border">
					<p>
						<strong>Data: </strong>
						{{Historico.delete.data | date:'dd/MM/yyyy' }} - 
						{{Historico.delete.data | dayOfWeek }}
					</p>
					<p>
						<strong>Alimento: </strong>
						{{Historico.delete.alimento}}
					</p>
					<p>
						<strong>Quantidade: </strong>
						{{Historico.delete.quantidade}}
					</p>
					<p>
						<strong>id: </strong>
						{{Historico.delete.idAlimento}}
					</p>
				</div>
				<br><br>
			</div>
		</div>
	</div>	
	<button class="btn btn-primary col-xs-4 col-xs-offset-1" data-ng-click="Historico.changeVisibilityDelete()">
		Voltar
	</button>
	<button class="btn btn-danger col-xs-4 col-xs-offset-2" data-ng-click="Historico.deleteHistorico(Historico.delete)">
		Deletar
	</button>
</section>

<!-- CONFIRMAÇÃO PARA A DELEÇÃO DE UM RECORDATÓRIO -->
<section data-ng-show="$root.show.alimento">
	<h3 class="center">{{Historico.title.alimento}}</h3>	
	<br>
	<button class="btn btn-primary col-xs-12" data-ng-show="Historico.show.new" data-ng-click="Historico.changeVisibilityAlimento('new')">
		Voltar
	</button>
	<button class="btn btn-primary col-xs-12" data-ng-show="Historico.show.edit" data-ng-click="Historico.changeVisibilityAlimento('edit')">
		Voltar
	</button>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<label><span class="glyphicon glyphicon-search"></label>
				<input data-ng-model="search.nomeAlimento">
			</div>
			<div class="col-xs-12">
				<table class="table table-striped">
					<tr dir-paginate="alimento in Historico.alimentos|itemsPerPage:30|filter:search" pagination-id="alimentoList">
						<td>{{alimento.nomeAlimento}}</td> 
						<td><a ng-click="Historico.alimentoSelecionado(alimento)">Selecionar</td>
					</tr>
				</table>
				<dir-pagination-controls pagination-id="alimentoList" max-size="5" boundary-links="true"></dir-pagination-controls>
				<br><br>
			</div>
		</div>
	</div>	
</section>