<section class="margin-top">

	<div class="container">
	  	<ul class="nav nav-tabs sidebar-tabs" id="sidebar" role="tablist">
	    	<li class="active">
	    		<a data-toggle="tab" role="tab" data-target="#home"><span class="glyphicon glyphicon-home"></a>
	    	</li>
	    	<li>
	    		<a data-toggle="tab" role="tab" data-target="#recomendacoes">Recomendações</a>
	    	</li>
	    	<li>
	    		<a data-toggle="tab" role="tab" data-target="#consumo">Consumo</a>
	    	</li>
	    	<li>
	    		<a data-toggle="tab" role="tab" data-target="#historico" data-ng-click="Application.resetValues()">Histórico</a>
	    	</li>
	  	</ul>
	  
	  	<div class="tab-content">
	    	<div class="tab-pane active" id="home">
	      		<h3 class="center">HOME</h3>
	      		<p>Seja bem vindo {{Application.user.nomeUsuario}}!</p>
	    	</div>
	    	<div id="recomendacoes" class="tab-pane">
	      		<recomendacoes-nutricionais></recomendacoes-nutricionais>
	    	</div>
	    	<div id="consumo" class="tab-pane">
				<consumo-semanal></consumo-semanal>
	    	</div>
	    	<div id="historico" class="tab-pane">
	      		<historico-alimentar></historico-alimentar>
	    	</div>
	  	</div>
	</div>

</section>