<section class="container">
	<div class="row">
		<div class="col-xs-12">
		
			<img src="images/logo.png" class="logo img-responsive" alt="Logo AppNutri">
			
			<br>

			<form name="formLogin" novalidate>
				<div class="form-group" data-ng-class="{ 'has-error' : formLogin.email.$invalid && !formLogin.email.$pristine }">
					<label for="Email">Email</label>
					<input type="email" class="form-control" placeholder="Email" data-ng-model="Login.loginForm.email" name="email" required>
				    </span>
				</div>
				<div class="form-group" data-ng-class="{ 'has-error' : formLogin.senha.$invalid && !formLogin.senha.$pristine }">
					<label for="Senha">Senha</label>
					<input type="password" class="form-control" placeholder="Senha" data-ng-model="Login.loginForm.senha" name="senha" data-ng-minlength="4" required>
				</div>
			</form>

			<button data-ng-disabled="formLogin.$invalid" class="btn btn-primary col-xs-12" data-ng-click="Login.credentials(Login.loginForm)" >
			Login
			</button>

			<br><br>

			<div class="checkbox">
			  	<label>
			  		<input type="checkbox" value="" data-ng-model="Login.lembreme" data-ng-checked="Login.lembreme">Lembre-me
			  	</label>
			</div>
		</div>
	</div>
</section>