<section>
	<h3 class="center">{{Avaliacao.title}}</h3>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="list-border" dir-paginate="avaliacao in Avaliacao.avaliacoes|itemsPerPage:5" pagination-id="avaliacao">
					<p>
						<strong>Orientação</strong>
						{{avaliacao.orientacao}}
					</p>
					<p>
						<strong>Data</strong>
						{{avaliacao.data}}
					</p>
					<p>
						<strong>Grupo</strong>
						{{avaliacao.grupo}}
					</p>
				</div>
				<dir-pagination-controls pagination-id="avaliacao" max-size="5" boundary-links="true"></dir-pagination-controls>
			</div>
		</div>		
	</div>
</section>