<section class="margin-top">

	<div class="container">
	  	<ul class="nav nav-tabs sidebar-tabs" id="sidebar" role="tablist">
	    	<li class="active">
	    		<a data-toggle="tab" role="tab" data-target="#home"><span class="glyphicon glyphicon-home"></a>
	    	</li>
	    	<li>
	    		<a data-toggle="tab" role="tab" data-target="#avaliacao">Avaliação</a>
	    	</li>
	    	<li>
	    		<a data-toggle="tab" role="tab" data-target="#consumo">Consumo</a>
	    	</li>
	    	<li>
	    		<a data-toggle="tab" role="tab" data-target="#historico" data-ng-click="appCtrl.resetValues()">Histórico</a>
	    	</li>
	  	</ul>
	  
	  	<div class="tab-content">
	    	<div class="tab-pane active" id="home">
	      		<h3>HOME</h3>
	      		<p>Seja bem vindo Paciente Zero!</p>
	    	</div>
	    	<div id="avaliacao" class="tab-pane">
	      		<avaliacao-dietetica></avaliacao-dietetica>
	    	</div>
	    	<div id="consumo" class="tab-pane">
				<consumo-semanal></consumo-semanal>
	    	</div>
	    	<div id="historico" class="tab-pane">
	      		<historico-alimentar></historico-alimentar>
	    	</div>
	  	</div>
	</div>

</section>